.list{
    display: flex;
    margin: 20px auto;
    gap: 10px;
}
.item{
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding:10px;
    padding-bottom: 0;
    background-color: #fff;
}