.profile {
    width: 300px;
    text-align: center;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
  }
  
  .description {
    padding: 20px;
  }
  
  .avatar {
    width: 100px;
    border-radius: 50%;
  }
  
  .name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .tag,
  .location {
    font-size: 16px;
    color: gray;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f3f6f9;
  }
  
  .label {
    font-size: 14px;
    color: gray;
  }
  
  .quantity {
    font-size: 16px;
    font-weight: bold;
  }
  
